<div class="hub_page">
    <header class="header_user">
        <div class="logo_caesb">
            <img src="assets/img/logo_caesb.webp" alt="Logo Caesb">
            <h1>CAESB</h1>
        </div>
        <div class="user_menu">
            <img src="assets/img/user.png" alt="User Icon">
            <img src="assets/img/log-out.png" alt="log-out Icon" title="Sair" (click)="logout()">
        </div>
    </header>

    <div class="container_hub">
        <aside>
            <nav>
                <a routerLink="/hubLicense"><img src="assets/img/file.png"> Hub Licenças</a>
                <a routerLink="/user"><img src="assets/img/users.png">Usuários</a>
                <a routerLink="/hubLicense"><img src="assets/img/log.png">Logs de Acesso</a>
            </nav>
        </aside>


        <main>

            <div class="license_list">
                <div class="btn_license">
                    <button (click)="newLicense()"><img src="assets/img/add.png" alt="">NOVO</button>
                </div>
                <h2>Lista de licenças</h2>
                <div class="search_bar">
                    <div class="search_input_container">
                        <img src="assets/img/search.png" alt="search icon">
                        <input type="text" placeholder="Pesquisar...">
                    </div>
                </div>
            </div>
            <div class="table_container_license">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let license of licenses; let i = index">
                            <td>{{license.name}}</td>
                            <td>{{license.status}}</td>
                            <td>
                                <img class="action-icons" src="assets/img/edit.png"  title="Editar" (click)="editLicense(i)" title="Editar">
                                <img class="action-icons" src="assets/img/delete.png"  title="Excluir" (click)="deleteLicense(i)" title="Excluir">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--module for registering new license-->
            <div class="license" *ngIf="showForm">
                <div class="module_content">
                    <h2>Cadastro de Licenças</h2>
                    <form (ngSubmit)="saveLicense(licenseForm)" #licenseForm="ngForm">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" [(ngModel)]="license.name" name="name" required>

                        <label for="status">Status:</label>
                        <select id="status" [(ngModel)]="license.status" name="status" required>
                            <option value="ativo">Ativo</option>
                            <option value="desativado">Desativado</option>
                        </select>

                        <div class="btn_module_license">
                            <button type="submit" >Salvar</button>
                            <button type="reset" (click)="cancel()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p>© 2025 Copyright: Digiteam</p>
    </footer>
</div>