<header>
    <img src="assets/img/logo_caesb.webp" alt="Logo Caesb">
    <h1>CAESB</h1>
</header>   

<section>
    <div class="changePassword_section">
        <div class=" card_changePassword">
            <h2>Redefinir Senha</h2>
            <form (ngSubmit) = "changePassword()" class="changePassword_form">
                <label for="newPassword">Nova Senha:</label>
                <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPasswordpassword" required placeholder="Digite uma nova  senha">

                <label for="confirmPassword">Confirmar Senha:</label>
                <input type="password" id="newPasswordpassword" [(ngModel)]="confirmPassword" name="newPasswordpassword" required placeholder="Confirme a senha">


                <button type="submit">SALVAR</button>


                <img src="/img/log_digiteam.png" alt="Logo Digiteam">
            </form>
        </div>
    </div>
</section>

<footer>
        <p>© 2024 Copyright: Digiteam</p>
    </footer>