<section class="login_page">
    <header>
        <img src="assets/img/logo_caesb.webp" alt="Logo Caesb">
        <h1>CAESB</h1>
    </header>

    <section>
        <div class="login_section">
            <div class=" card_login">
                <h2>Login</h2>
                <form class="login_form" (ngSubmit)="login()">
                    <label for="user">Usuário:</label>
                    <input type="text" id="user" name="user" required placeholder="Digite seu usuário" [(ngModel)]="user">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required placeholder="Digite sua senha" [(ngModel)]="password">

                    <input type="date">

                    <button type="submit">Entrar</button>

                    <a href="" class="forgot_password">Esqueceu a senha?</a>

                    <img src="assets/img/log_digiteam.png" alt="Logo Digiteam">
                </form>
            </div>
        </div>
    </section>
</section>

    <footer>
        <p>© 2024 Copyright: Digiteam</p>
    </footer>