
.login_body{
    background-image: url('/img/background_img1.png');
    background-size: cover;
}

header{
    display: flex;
    gap: 10px;
    align-items: center;
}

header, img{
    width: 50px;
    height: 50px;
}

header h1{
    font-size: 30px;
    color: #3a65f0;
}

/*centralizes the login card*/
.login_section{
    display: flex;
    justify-content:left;
    align-items: center;
    height: 78vh;
}

.card_login{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #3a65f0;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card_login h2{
    text-align: center;
    font-size: 24px;
    color: #3a65f0;
}

.login_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_form label{
    margin-bottom: 5px;
}

.login_form input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login_form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1aaa97;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login_form img{
    display: block;
    margin: 10px auto 0;
    width: 50px;
    height: 50px;
}