:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.login_page{
    background-image: url('/assets/img/background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

.logo_caesb{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;

    @media (max-width: 768px) {
        margin-left: 20px;
        margin-top: 10px;
    }
}

.logo_caesb h1{
    font-size: 30px;
    color: #041e74;
}


.login_page img{
    width: 40px; 
}

/*centralizes the login card*/
.login_section{
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 1;
  padding: 50px;
}

.card_login{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 3px solid #000000;
    border-radius: 40px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    @media (max-width: 768px) {
        width: 90%;
        max-width: 800px;
        padding: 15px;
        border-radius: 20px;
    }
}

.card_login h2{
    text-align: center;
    font-size: 24px;
    color: #3a65f0;
}

.login_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_form label{
    margin-bottom: 5px;
}

.login_form input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login_form button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #1aaa97;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.login_form img{
    display: block;
    margin: 10px auto 0;
    width: 50px;
    height: 50px;
}

footer{
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
  }
