
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header_user{
  width: 100%;
  height: 40px;
  background-color: rgb(43, 149, 168);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo_caesb{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_caesb img{
  width: 30px;
  margin: 0;
}

.logo_caesb h1{
  font-size: 24px;
  color: #041e74;
}

.user_menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_menu img {
  width: 20px;
  height: px;
  cursor: pointer;
}

.container_user{
  display: flex;
  flex: 1;
}

.search_input_container {
  position: relative; 
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px; 
}

.search_input_container img {
  position: absolute; 
  right: 10px;
  left: auto; 
  width: 15px; 
  height: auto;
  pointer-events: none; 
}

/*sidebar*/
aside {
  width: 200px;
  align-items: center;
  background-color: #0e5e5e;  
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav a img{
  width: 18px;
  height: auto;
  margin-right: 8px;
}

nav a:hover{
  background-color: #1aaa97;
  transform: scale(1.02);
}

main{
  flex: 1;
  padding: 10px;
}

.search_bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.search_bar input{
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.user.module{
  display: none;
}

.module_content{
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.module_content h2{
  text-align: center;
  margin-bottom: 15px;
  color: #1aaa97;
  font-size: 20px;
}

.module_content form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.module_content label{
  font-weight: bold;
  font-size: 14px;
}

.module_content input, .module_content select{
  border-radius: 5px;
  border: 1px solid #111111;
  height: 30px;
  padding: 5px;
  font-size: 14px;
}

.btn_module_user{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 10px;
}

.btn_module_user button{
  border: none;
  border-radius: 4px;
  background-color: #1aaa97;
  padding:8px 12px;
  font-size: 14px;
}

.btn_module_user button:hover{
  background-color: #11695d;
  transform: scale(1.02);
}

.user_list{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 10px auto;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0c0c0c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.btn_list{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
}

.btn_list button{
  border: none;
  border-radius: 4px;
  background-color: #1aaa97;
  padding:  8px 10px;
}

.btn_list button:hover{
  background-color: #11695d;
  transform: scale(1.02);
}

.btn_list button img {
  width: 12px; 
  height: auto;
  margin-right: 5px;
}

.table_container_list{
  width: 95%;
  margin: 10px auto;
  border: 1px solid #0c0c0c;
  overflow-x: auto;
}

.table_container_list table{
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.table_container_list th, .table_container_list td{
  padding: 8px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}


.table_container_list td:last-child {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/*specifying the alignment of the content in the table*/
.table_container_list th:nth-child(1), .table_container_list td:nth-child(1){
  text-align: left;
  width: 10%;
}
.table_container_list th:nth-child(2), .table_container_list td:nth-child(2){
  text-align: center;
  width: 15%;
}

.table_container_list th:nth-child(3), .table_container_list td:nth-child(3){
  text-align: center;
  width: 20%;
}

.table_container_list th:nth-child(4), .table_container_list td:nth-child(4){
  text-align: center;
  width: 15%;
}

.table_container_list th:nth-child(5), .table_container_list td:nth-child(5){
  text-align: center;
  width: 20%;
}

.table_container_list th:nth-child(6), .table_container_list td:nth-child(6){
  text-align: center;
  width: 20%;
}

.table_container_list th:nth-child(7), .table_container_list td:nth-child(7){
  text-align: center;
  width: 20%;
}

.table_container_list  img{
  width: 15px;
  height: auto;
  cursor: pointer;
}

table tbody:nth-child(even){
  background-color:#f9f9f9;
}

table th {
  background-color: #21b1c4;
  color: white;
  font-weight: 600;
}


footer{
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1; 
  margin-top: auto;
  font-size: 12px;
}

@media (max-width: 768px) {
 .container_user{
  flex-direction: column;
 }
 aside{
  width: 100%;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
 }
 nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
 }
 nav a{
  margin-bottom: 0;
  padding: 8px 10px;
  white-space: nowrap;
 }
 .user_list{
  margin-top: 10px;
  padding: 10px;
 }
 .btn_list{
  margin-left: 10px;
 }
 .table_container_list{
  margin-bottom: 10px;
 }
}


